mixin breadcrumbs(levels, mod)
  .breadcrumbs__container&attributes(attributes).site-content-container
    div(class=`breadcrumbs ${mod ? mod : ''}`)
      each item, index in levels

        - var count = index+1
        - var name = item[0]
        - var link = item[1] || null

        if link
          .breadcrumbs__item
            a.breadcrumbs__item-link.page-hover-effect(href=link) #{name}
        else
          .breadcrumbs__item
            span
              | #{name}
        //- для иконки между ссылкой
        if count < levels.length
          span.breadcrumbs__arrow

