mixin slider-navigation()
  .slider-navigation
    button.slider-navigation__button.js-prev-slide(aria-label="Назад")
      +icon-mono("slider-arrow")
    button.slider-navigation__button.js-next-slide(aria-label="Вперед")
      +icon-mono("slider-arrow")
