include ../data/config.pug
include ../mixins/**/*.pug

block variables

doctype html
html(lang=siteLang)
  head
    include ../parts/head.pug
  body(class=bodyClass)
    .page-wrapper
      block header
        include ../parts/loader
        include ../parts/header.pug

      block content

      block footer
        include ../parts/footer.pug

    .modal
      include ../parts/modals/modal.pug

  block scripts
    script(src="assets/js/main.js?v=" + siteVersion)
    script(src="assets/js/backend.js?v=" + siteVersion)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
